/**
* TYPOGRAPHY
*/

/**
* ELEMENT HTML
*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
  font-family: 'Segoe UI';
}

a {
  text-decoration: none;
}

button {
  margin-right: 5px!important;
}